.profilepage__main {
  width: 60%;
  margin: auto;
  margin-top: 6vh;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .profilepage__main {
    width: 90%;
  }
}
.profilepage__main .profilepage__content__container {
  margin-top: 3vh;
}
.profilepage__main .profilepage__content__container .content__heading__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.profilepage__main .profilepage__content__container .content__heading__section .content__heading {
  font-size: 2rem;
  font-weight: 600;
  color: #0f172a;
}
.profilepage__main .profilepage__content__container .content__fields__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}
.profilepage__main .profilepage__content__container .content__fields__section .field__container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.profilepage__main .profilepage__content__container .content__fields__section .field__container .content__fields__section__label {
  font-size: 1rem;
  font-weight: 500;
  color: #323438;
  margin-bottom: 6px;
}
.profilepage__main .profilepage__content__container .content__fields__section .field__container .content__fields__section__input {
  background-color: #f7fafc;
  border: 1px solid #f7fafc;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #0f172a;
  border: 1px solid #4f45e4;
  font-family: "Syne", sans-serif;
}
.profilepage__main .profilepage__content__container .content__fields__section .field__container .content__fields__section__input:focus {
  border: 2px solid #4f45e4;
  outline: none;
}
.profilepage__main .profilepage__content__container .content__fields__section .content__fields__section__input--disabled {
  background-color: #e6ebed;
  border: 1px solid #f7fafc;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #3f4042;
  font-family: "Syne", sans-serif;
  pointer-events: none;
}
.profilepage__main .profilepage__content__container .content__fields__section .content__fields__section__textarea {
  background-color: #f7fafc;
  border: 1px solid #f7fafc;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 1rem;
  font-weight: 500;
  color: #0f172a;
  border: 1px solid #4f45e4;
  font-family: "Syne", sans-serif;
  resize: none;
  height: 60px;
}
.profilepage__main .profilepage__content__container .content__fields__section .content__fields__section__textarea:focus {
  border: 2px solid #4f45e4;
  outline: none;
}
.profilepage__main .profilepage__content__container .content__fields__section .field__joining_date {
  color: #0f172a;
  opacity: 0.5;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
.profilepage__main .profilepage__content__container .content__last_buttons {
  display: flex;
  align-items: center;
}
.profilepage__main .profilepage__content__container .content__last__section__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4f45e4;
  border: 2px solid #4f45e4;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 6px 12px;
  margin-right: 20px;
}
.profilepage__main .profilepage__content__container .content__last__section__button:hover {
  transform: scale(1.05);
}
.profilepage__main .profilepage__content__container .content__last__section__button:active {
  transform: scale(0.95);
}
.profilepage__main .profilepage__content__container .content__last__section__button p {
  color: #f7fafc;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  padding: 0;
  margin: 0;
}
.profilepage__main .profilepage__content__container .content__logout__button {
  background-color: #f7fafc;
  border: 2px solid #4f45e4;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 6px 12px;
}
.profilepage__main .profilepage__content__container .content__logout__button:hover {
  transform: scale(1.05);
}
.profilepage__main .profilepage__content__container .content__logout__button:active {
  transform: scale(0.95);
}
.profilepage__main .profilepage__content__container .content__logout__button p {
  color: #0f172a;
  font-size: 1.3em;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  padding: 0;
  margin: 0;
}/*# sourceMappingURL=FounderProfilePage.pages.css.map */